<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is the configuration file for Hightail.</comment>
<entry key="pathFromWorkingDirToExec">%L.py</entry>
<entry key="userInformedOfCompetitiveCompanionAndFirewall">1</entry>
<entry key="prependingCommand">pycomp.py</entry>
<entry key="workingDirectory">/home/fortune/code/cforce</entry>
<entry key="putWholeName">1</entry>
<entry key="checkExistence">1</entry>
</properties>
